Repository codidact/qpixel, pull requests merged in 2023-11, with the labels that each got.

#1228 Header buttons should have tooltips set on the outer link element
  app/views/layouts/_header.html.erb
Labels: area: html/css/js

#1227 Move 'start new comment thread' button under listed threads
  app/assets/stylesheets/comments.scss
  app/views/posts/_expanded.html.erb
Labels: area: html/css/js

#1224 Dynamically update post score tooltip (#1207)
  app/assets/javascripts/votes.js
  app/controllers/votes_controller.rb
  app/models/post.rb
  app/views/posts/_expanded.html.erb
Labels: area: ruby, area: html/css/js, complexity: easy

#1222 Prevent keyboard events with modifier keys from triggering shortcuts
  app/assets/javascripts/keyboard_tools.js
Labels: area: html/css/js, complexity: easy

#1197 Skip min title validation for help/policy posts
  app/models/concerns/post_validations.rb
Labels: area: ruby

#1189 Rework of the character count requirements display
  app/assets/javascripts/character_count.js
  app/views/comments/_new_thread_modal.html.erb
  app/views/comments/thread.html.erb
  app/views/posts/_form.html.erb
  app/views/posts/_mdhint.html.erb
  app/views/shared/_char_count.html.erb
Labels: area: ruby, area: html/css/js, complexity: easy

#1234 Update scoring table
  app/assets/images/scoring_table.png
  app/assets/images/scoring_table.svg
  db/seeds/posts/scoring.html
  public/assets/scoring_table.png
  public/assets/scoring_table.svg
Labels: area: assets
