Repository codidact/qpixel, pull requests merged in 2023-10, with the labels that each got.

#1205 adjusted Discord guidance to account for discriminators being optional
  app/views/users/edit_profile.html.erb
Labels: area: html/css/js

#1201 fix initial revision for policy posts & improve seed error reporting
  db/seeds.rb
Labels: area: ruby, complexity: easy

#1212 Add advanced formatting help to seeds
  db/seeds/posts.yml
  db/seeds/posts/advanced-formatting.html
Labels: area: seeds

#1203 Add a notice when tags and attributes are rejected
  app/assets/javascripts/posts.js
  app/views/posts/_form.html.erb
Labels: area: html/css/js

#1226 Add score tooltips for post list vote counts
  app/views/posts/_article_list.html.erb
  app/views/posts/_list.html.erb
Labels: area: ruby
