Repository codidact/qpixel, pull requests merged in 2024-09, with the labels that each got.

#1406 small wording clarification
  app/views/suggested_edit/show.html.erb
Labels: area: html/css/js, complexity: easy

#1404 updated link in mod-message template
  db/seeds/warning_templates/off-topic.md
Labels: complexity: easy, area: seeds

#1413 RSS link improvements
  app/assets/stylesheets/categories.scss
  app/views/categories/show.html.erb
  app/views/shared/_rss_link.html.erb
  app/views/tags/show.html.erb
Labels: area: html/css/js

#1399 make tag rss link more visible
  app/assets/stylesheets/categories.scss
  app/views/categories/show.html.erb
  app/views/shared/_rss_link.html.erb
  app/views/tags/show.html.erb
Labels: area: html/css/js, complexity: easy

#1414 Latest version timestamp format fixup
  app/views/layouts/_footer.html.erb
  config/initializers/zz_cache_setup.rb
Labels: area: ruby, area: html/css/js

#1397 Expanding post draft logic to handle fields other than the body
  app/assets/javascripts/posts.js
  app/controllers/posts_controller.rb
  app/views/posts/_edit_comment.html.erb
  app/views/posts/_form.html.erb
  app/views/tags/_form.html.erb
  test/controllers/posts/drafts_test.rb
Labels: area: ruby, area: html/css/js, complexity: average

#1421 Make current commit parsing more resilient
  app/helpers/application_helper.rb
  app/views/layouts/_footer.html.erb
  config/initializers/zz_cache_setup.rb
Labels: area: ruby, complexity: easy
